* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
	background: linear-gradient(45deg, blue, green);
}
 */

body {
	background-color: rgb(255, 247, 201);
	font-size: 20px;
	padding: 50px;
}

#projects {
	background-color: rgb(117, 117, 117);
	border: 5px solid #000000;
	width: 400px;
	padding: 25px;
	margin: 30px auto; /* This will center the div horizontally */
}

#title {
	text-align: center;
}
